body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  /* background-color: #dbd7d7; */
  padding: 1rem;
}

/* Top Bar Styles */
.top-bar {
  /* background-color: #333; */
  /* color: #fff; */
  padding: 0.3rem 1rem 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 1;
  text-align: center;
}

.logo-img {
  width: 60%; /* Adjust the width as needed */
  height: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 4;
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* Search Box Styles */
.search-box {
  background-color: #eee;
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
}

.search-input {
  padding: 10px;
  width: 60%; /* Adjust the width as needed */
  margin-right: 10px;
}

.search-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-links {
  margin-top: 10px;
}

.search-links a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

/* Hero Section Styles */
.hero {
  background-image: url("https://placehold.co/1000x400/000000/000000/png?text=."); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.portfolio-link {
  /* display: inline-block; */
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* Features Section Styles */
.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
}

.feature-box {
  width: calc(20% - 20px); /* Adjust the width and margin as needed */
  margin-bottom: 20px;
}

.feature-box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-box img {
  width: 100%;
  height: auto;
}

.feature-box p {
  font-size: 1em;
  margin-bottom: 15px;
}

.learn-more-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
/* Testimonials Section Styles */
.testimonials {
  background-color: #f8f8f8; /* Change background color as needed */
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  margin-top: 1rem;
}

.testimonials-content {
  text-align: center;
  flex: 2;
  padding: 1rem;
}

.testimonial-header h2 {
  font-size: 1.5em;
}

.view-all a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.view-all:hover a {
  color: #555;
}
.testimonial-box-main {
  display: flex;
  gap: 1rem;
  flex: 3;
  padding: 1rem;
}
.testimonial-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 33%; /* Take up the full width */

  padding: 1rem;
}

.stars {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.testimonial-box p {
  font-size: 1em;
  margin-bottom: 10px;
}

.name,
.location,
.date {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.name {
  font-weight: bold;
}

/* Call to Action Section Styles */
.call-to-action {
  display: flex;
  background-color: rgb(114, 81, 234);
  align-items: center;
  padding: 1rem 0 1rem 0;
  margin: 1.5rem auto;
}
.call-to-action p {
  color: #fff;
  font-size: 1.5rem;
}
.action-left {
  flex: 3;
  padding: 1rem 0 1rem 2.5rem;
}

.action-right {
  flex: 1;
}

.contact-link {
  display: inline-block;
  padding: 0.6rem 2rem 0.6rem 2rem;
  background-color: rgb(114, 81, 234);
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0 1rem 0;
  display: flex;
}

.footer-box {
  flex: 1;
  padding: 1rem 2rem 1rem 2rem;
}

.footer-box h3 {
  font-size: 1em;
  font-weight: normal;
}

.footer-box p {
  font-size: 1rem;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box li {
  margin-bottom: 0.5rem;
}

.footer-box a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 90%;
}

.footer-box a:hover {
  color: #ddd;
}

.footer-box i {
  margin: 0.5rem;
}

.about p {
  line-height: 2rem;
  font-size: 1.3rem;
}
